<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	>
	<meta
		name="description"
		content="Jim的學習筆記，用來記錄學習或是開發中所碰到的困難"
	>
	<meta
		name="keyword"
		content="Jim, 前端魚池, HTML, CSS, JavaScript"
	>
	<title>Jim's Blog - 前端魚池</title>
	<!-- home icon -->
	<link
		rel="apple-touch-icon"
		href="apple-touch-icon.png"
	>
	<link
		rel="icon"
		sizes="192x192"
		href="apple-touch-icon.png"
	>
	<!-- fontawesome -->
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
		crossorigin="anonymous"
	/>
	<!-- google-font -->
	<link
		rel="preconnect"
		href="https://fonts.gstatic.com"
	>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
		rel="stylesheet"
	>
	<link
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap"
		rel="stylesheet"
	>
	<link
		href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap"
		rel="stylesheet"
	>
	<!-- stylesheet -->
	<link
		rel="stylesheet"
		href="css/reset.css"
	>
	<link
		rel="stylesheet"
		href="css/layout.css"
	>
	<link
		rel="stylesheet"
		href="css/article.css"
	>
	<!-- article-picture -->
	<style>
		.header {
			background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/about-banner.jpg");
		}
	</style>
	<!-- plug-in -->
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/monokai-sublime.min.css"
	>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
	<script>
		hljs.highlightAll();
	</script>
	<script src="https://cdn.jsdelivr.net/npm/code-line"></script>
	<script>CodeLine.initOnPageLoad()</script>
</head>

<body>


	<div id="app">
		<h1 class="hide-heading">Jim's Blog - 前端魚池</h1>
		<!-- Navigation -->
		<nav class="main-nav">
			<div class="container">
				<a
					class="logo"
					:href="links.homePage"
				><span>{{user.name}}</span>'s Blog</a>
				<button
					class="menu-btn"
					id="menuBtn"
				>
					<span class="burger"></span>
				</button>
				<ul
					class="main-nav-list"
					id="menuList"
				>
					<li><a href="#">文章列表</a></li>
					<li><a href="#">文章分類</a></li>
					<li><a href="#">Tags</a></li>
					<li><a :href="links.aboutPage">關於作者</a></li>
				</ul>
				<a
					class="github"
					:href="links.github"
					target="_blank"
				><img src="images/github.png"></a>
				</span>
		</nav>
		<!-- Header -->
		<header class="header">
			<h1>關於作者</h1>
			<time>2021/05/17</time>
		</header>
		<!-- Main Content-->
		<div class="wrap article-page-wrap">
			<!-- Author -->
			<section class="author">
				<div class="info">
					<a
						class="avatar"
						:href="links.aboutPage"
					><img :src="user.avatar"></a>
					<p><a
							class="link"
							:href="links.aboutPage"
						>{{ user.name }}</a></p>
					<p>{{ user.skill }}</p>
					<p>{{ user.memo }}</p>
					<div class="social-media">
						<a
							:href="links.github"
							target="_blank"
						><i
								class="fa fa-github"
								aria-hidden="true"
							></i></i></a>
						<a :href="links.email"><i
								class="fa fa-envelope-o"
								aria-hidden="true"
							></i></a>
						<a
							:href="links.facebook"
							target="_blank"
						><i
								class="fa fa-facebook-square"
								aria-hidden="true"
							></i></a>
					</div>
				</div>
				<div class="total-post">
					<p>共{{ countTotalPost }}篇文章</p>
				</div>
				<div class="latest-post">
					<p>最新文章</p>
					<ul class="latest-post-list">
						<li v-for="item in articles"><a :href="item.link">{{ item.title }}</a></li>
					</ul>
				</div>
				<div class="other-link">
					<p>前端部落格推薦</p>
					<ul class="other-link-list">
						<li v-for="item in recommendBlogger"><a :href="item.link">{{ item.name }}</a></li>
					</ul>
				</div>
			</section>
			<!-- articles -->
			<article class="articles article-area">
				<h2>關於Jim</h2>
				<p>
					你好，我是 Jim，一個熱衷於程式設計的前端工程師。<br>
					還記得自從家裡買了第一台電腦，接觸到電腦的世界後，就覺得電腦是一個特別厲害的東西，除了有各種好玩的遊戲以外，也有很多操控電腦來做各種事情的傢伙，<br>
				</p>
				<h2>為什麼開始寫部落格？</h2>
				<h3>動機</h3>
				<p>我相信每個人在學習前端的過程中，總會有面臨瓶頸的時候，我也不例外，</p>

				<!-- Code -->
				<pre><code class="html javascript">&lt;script&gt;
function hello(){
console.log('how old are you?'); //comment
}
function hello(){
console.log('how old are you?'); //comment
}
function hello(){
console.log('how old are you?'); //comment
}
&lt;/script&gt;</code></pre>
			</article>
		</div>
		<!-- Footer -->
		<footer class="footer">
			<p>Hosted on <a
					class="link"
					href="#"
				>Github</a></p>
			<p>The code is open source and available at <a
					class="link"
					href="#"
				>calpa/gatsby-starter-calpa-blog</a></p>
			Copyright <a
				class="link"
				href="#"
			>©Calpa</a> Calpa 的技術博客2021 Theme by Calpa Liu
		</footer>
	</div>









	<!-- Vue -->
	<script src="https://unpkg.com/vue@3.0.11"></script>
	<script src="js/app.js"></script>
	<!-- JavaScript -->
	<script src="js/nav-burger.js"></script>
</body>

</html>